USE master
GO
CREATE DATABASE PolyOEAsm
GO
USE PolyOEAsm
GO
CREATE TABLE Favorites(
	Id bigint NOT NULL,
	UserId varchar(20) NOT NULL,
	VideoId varchar(20) NOT NULL,
	LikeDate date NOT NULL,
	CONSTRAINT PK_Username PRIMARY KEY CLUSTERED (Id)
)
GO
CREATE TABLE Shares(
	Id bigint NOT NULL,
	UserId varchar(20) NOT NULL,
	VideoId varchar(20) NOT NULL,
	Emails varchar(250) NOT NULL,
	ShareDate date NOT NULL
	CONSTRAINT PK_Shares PRIMARY KEY CLUSTERED (Id)
)
GO
CREATE TABLE Users(
	Id varchar(20) NOT NULL,
	Password varchar(50) NOT NULL,
	Fullname nvarchar(50) NOT NULL,
	Email varchar(50) NOT NULL,
	Admin bit NOT NULL,
	CONSTRAINT PK_Users PRIMARY KEY CLUSTERED (Id)
)
GO
CREATE TABLE Videos(
	Id varchar(20) NOT NULL,
	Title nvarchar(1000) NOT NULL,
	Poster varchar(50) NOT NULL,
	Views int NOT NULL,
	Description nvarchar(max) NULL,
	Active bit NOT NULL,
	Code varchar(500) NOT NULL,
	CONSTRAINT PK_Videos PRIMARY KEY CLUSTERED (Id)
)
GO

INSERT Favorites (Id, UserId, VideoId, LikeDate) VALUES (1, 'admin', 'vd1', CAST(N'2021-02-02' AS Date))
INSERT Favorites (Id, UserId, VideoId, LikeDate) VALUES (2, 'duyplus', 'vd2', CAST(N'2021-03-12' AS Date))
INSERT Favorites (Id, UserId, VideoId, LikeDate) VALUES (3, 'duyplus', 'vd3', CAST(N'2021-05-15' AS Date))

INSERT Shares (Id, UserId, VideoId, Emails, ShareDate) VALUES (1, 'admin', 'vd1', 'duyplusdz@gmail.com', CAST(N'2022-02-06' AS Date))
INSERT Shares (Id, UserId, VideoId, Emails, ShareDate) VALUES (2, 'admin', 'vd3', 'duyplusdz@gmail.com', CAST(N'2022-02-06' AS Date))
INSERT Shares (Id, UserId, VideoId, Emails, ShareDate) VALUES (3, 'duyplus', 'vd3', 'duyplusdz@gmail.com', CAST(N'2022-02-06' AS Date))

INSERT Users (Id, Password, Fullname, Email, Admin) VALUES ('admin', '123', N'Ngô Sơn Trường', 'admin@gmail.com', 1)
INSERT Users (Id, Password, Fullname, Email, Admin) VALUES ('danhloi', '823806', N'Danh Lợi', 'danhloi@gmail.com', 0)
INSERT Users (Id, Password, Fullname, Email, Admin) VALUES ('ducduy', '525090', N'Đức Duy', 'ducduy@gmail.com', 0)

INSERT Videos (Id, Title, Poster, Views, Description, Active, Code) VALUES ('vd1', N'Iron Man', 'uploads/VD01.jpg', 123, N'Mô tả video', 1, 'https://www.youtube.com/embed/Y44Wgsg-kLc')
INSERT Videos (Id, Title, Poster, Views, Description, Active, Code) VALUES ('vd2', N'The Incredible Hulk', 'uploads/VD01.jpg', 123, N'Mô tả video', 1, 'https://www.youtube.com/embed/Y44Wgsg-kLc')
INSERT Videos (Id, Title, Poster, Views, Description, Active, Code) VALUES ('vd3', N'Iron Man 2', 'uploads/VD01.jpg', 123, N'Mô tả video', 1, 'https://www.youtube.com/embed/Y44Wgsg-kLc')
GO
-- Khoá phụ
ALTER TABLE Favorites WITH CHECK ADD CONSTRAINT FK_FAVORITES_USERS FOREIGN KEY(UserId)
REFERENCES Users (Id) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE Favorites CHECK CONSTRAINT FK_FAVORITES_USERS
GO
ALTER TABLE Favorites WITH CHECK ADD CONSTRAINT FK_FAVORITES_VIDEOS FOREIGN KEY(VideoId)
REFERENCES Videos (Id) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE Favorites CHECK CONSTRAINT FK_FAVORITES_VIDEOS
GO
ALTER TABLE Shares WITH CHECK ADD CONSTRAINT FK_SHARES_USERS FOREIGN KEY(UserId)
REFERENCES Users (Id) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE Shares CHECK CONSTRAINT FK_SHARES_USERS
GO
ALTER TABLE Shares WITH CHECK ADD CONSTRAINT FK_SHARES_VIDEOS FOREIGN KEY(VideoId)
REFERENCES Videos (Id) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE Shares CHECK CONSTRAINT FK_SHARES_VIDEOS
GO

